* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    padding-bottom: 12vh;
    position: relative;
    text-align: center;
    cursor: default;
    color: #444444;
}

a {
    cursor: pointer;
}

a:-webkit-any-link{
    color: #444444;
}

a:any-link{
    color: #444444;
    text-decoration-color: none;
}

a:visited, h3 {
    text-decoration: none;
    text-decoration-color: none;
    color: #444444;
}

@media only screen and (min-width: 767px) {
    .landing-page,
    .advertise,
    .contact,
    .winfreestuff,
    .employment,
    .about {
        padding-top: 190px;
        min-height: 80vh;
        padding-bottom: 10vh;
    }
    .employees {
        padding-top: 10px;
        min-height: 80vh;
    }
}