.slide {
    height: 40vh;
    width: 80vw;
    padding: 5vh;
    margin: 2vh auto;
}

.carousel {
    position: relative;
}

.back-arrow,
.next-arrow {
    position: absolute;
    top: 50%;
}

.back-arrow:hover,
.next-arrow:hover {
    border-radius: 100%;
    padding: 2px;
    background-color: aliceblue;
}

.back-arrow {
    left: 5px;
}

.next-arrow {
    right: 5px;
}