.slide {
    height: 40vh;
    width: 100vw;
    padding: 5vh;
    margin: 2vh auto;
}

.carousel {
    position: relative;
}

.back-arrow,
.next-arrow {
    position: absolute;
    top: 50%;
    color: white;
    background-color: rgba(127, 127, 127, 0.5);
}

.back-arrow {
    left: 5px;
}

.next-arrow {
    right: 5px;
}

.fa-arrow-left,
.fa-arrow-right {
    color: white;
}

.back-arrow:hover,
.next-arrow:hover {
    background-color: rgba(127, 127, 127, 0.7);
}

.carousel-dot {
    display: inline-block;
    border-radius: 100%;
    background-color: #a5a4a4;
    border: 1px solid rgba(127, 127, 127, 0.7);
    height: 10px;
    width: 10px;
    margin: 1vh;
}

.dark-dot {
    background-color: #739DD2;
}

@media only screen and (min-width: 1000px) {
    .slide {
        height: 60vh;
        padding: 5vh;
        margin: 2vh auto;
    }
}