form {
    height: initial;
}

.contact-pg-but {
    display: inline-block;
    margin: 2vh;
}

.form-cont {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 1000px;
    height: 800px;
    margin: 20px auto;
    padding: 20px;
    position: relative;
}

.form-cont label {
    margin: 10px;
    width: 500px;
}

.form-cont input {
    margin: 20px;
    width: 500px;
    height: 50px;
    border: 2px solid black;
}

.form-cont textarea {
    width: 500px;
    height: 300px;
    vertical-align: top;
    border: 2px solid black;
    position: relative;
    right: 11px;
}

.textarea-label {
    right: 20px;
    position: relative;
}