.error-msg {
    color: red;
    text-align: center;
    width: 100vw;
    left: 0;
    position: absolute;
    padding: 5px;
}

.error-name {
    top: 105px;
}

.error-phone {
    top: 215px;
}

.error-email {
    top: 325px;
}

.error-message {
    bottom: 140px;
}

.form-group {
    padding: 20px;
}

/*for desktop*/

@media only screen and (min-width: 770px) {
    .error-msg {
        width: 100%;
    }
    .error-name {
        top: 105px;
    }
    .error-phone {
        top: 215px;
    }
    .error-email {
        top: 325px;
    }
    .error-message {
        bottom: 115px;
    }
    .form-group {
        padding: 10px;
    }
}