.contact-pg-but {
    display: inline-block;
    margin: 2vh;
}

.form-cont {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100vw;
    height: 800px;
    margin: 20px auto;
    padding: 20px;
    position: relative;
}

.form-cont label {
    margin: 10px;
    width: 500px;
}

.form-cont input {
    margin: 20px;
    width: 250px;
    height: 50px;
    border: 2px solid black;
    display: block;
    margin: auto;
}

.form-cont textarea {
    width: 250px;
    display: block;
    margin: auto;
    right: 0;
}

.form-cont textarea {
    width: 250px;
    height: 250px;
    display: block;
    margin: auto;
    right: 0;
    border: 2px solid black;
}

.send-success {
    color: green;
}

.send-fail {
    color: red;
}

@media only screen and (min-width: 770px) {
    .form-cont {
        width: 90vw;
    }
    .form-cont input {
        margin: 20px;
        width: 500px;
        height: 50px;
        border: 2px solid black;
        display: inline-block;
    }
    .form-cont textarea {
        width: 500px;
        height: 300px;
        vertical-align: top;
        position: relative;
        right: 11px;
        margin: initial;
        display: inline-block;
    }
    .textarea-label {
        right: 20px;
        position: relative;
        padding-top: 5px;
    }
}