.error-msg {
    color: red;
    text-align: center;
    width: 100vw;
    left: 0;
    position: absolute;
    padding: 5px;
}

.error-name {
    top: 105px;
}

.error-phone {
    top: 215px;
}

.error-email {
    top: 325px;
}

.error-message {
    bottom: 180px;
}

.form-group {
    padding: 20px;
}

.shadow-div-hide {
    display: none;
}

.shadow-div-show {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 70px;
    height: 100%;
    width: 100%;
    background-color: rgb(8, 8, 8, 0.5);
    z-index: 1;
    color: white;
}

.shadow-div-message p {
    margin-top: 100px;
    color: white;
    font-weight: 500;
}

.img-cont img {
    width: 30%;
}

/*for desktop*/

@media only screen and (min-width: 767px) {
    .error-msg {
        width: 100%;
    }
    .error-name {
        top: 105px;
    }
    .error-phone {
        top: 215px;
    }
    .error-email {
        top: 325px;
    }
    .error-message {
        bottom: 160px;
    }
    .form-group {
        padding: 10px;
    }
}