.footer-container {
    background-color: #739DD2;
    position: absolute;
    width: 100vw;
    padding: 2vh;
    display: flex;
    flex-direction: column;
}

.footer-logo,
.footer-logo img,
.social-media-links-cont,
.advertise-cont,
.housekeeping-cont,
.offices-cont {
    text-align: left;
    display: inline-block;
    width: 90vw;
    vertical-align: top;
    margin: 1vh;
}

.offices-cont div,
.offices-cont p {
    display: inline-block;
}

.offices-cont h4 {
    color: white;
    margin-bottom: 3vh;
}

.offices-cont>div,
.offices-cont>div>div {
    vertical-align: top;
}

.offices-cont>div {
    padding: 1em;
}

.footer-container a {
    text-decoration: none;
}

.footer-container a,
.advertise-cont p,
.offices-cont p,
.offices-cont .link{
    -webkit-transition: color 0.3s; /* Safari */
    transition: color 0.3s;
}

.advertise-cont p,
.offices-cont p,
.offices-cont .link {
    color: white;
}

.footer-container a:hover,
.advertise-cont p:hover,
.offices-cont p:hover,
.offices-cont .link:hover{
    color: yellow;
}

.footer-container ul {
    list-style-type: none;
    margin-left: 20%;
}

.footer-container ul li {
    padding: 0.5em;
}

.footer-container i {
    width: 30px;
}

.social-icon-cont{
    margin: 1vh;
    text-align: center;
}
.social-icon-cont i {
    width: 10vw;
    margin: 1vh;
}

/*for cell*/
@media only screen and (min-width: 780px) {
    .footer-container {
        flex-direction: row;
    }
    .footer-logo,
    .footer-logo img,
    .social-media-links-cont,
    .advertise-cont,
    .housekeeping-cont,
    .offices-cont {
        width: 19vw;
    }
    .housekeeping-cont ul li:nth-child(1) {
        padding-top: 0;
    }
    .offices-cont h4 {
        margin-bottom: initial;
    }
    .footer-container h6 {
        align-self: baseline;
    }
    .offices-cont {
        display: block;
        flex: none;
    }
    .copyright-text {
        display: block;
        width: 90%;
        position: absolute;
        bottom: 5px;
    }
    .footer-container ul {
        width: 200px;
    }
}

@media only screen and (min-width: 431px) and (max-width: 871px) {
    .advertise-cont,
    .housekeeping-cont,
    .social-media-links-cont,
    .offices-cont{
        display: inline-block;
        width: 40%;
    }
    .footer-container{
        flex: none;
        display: block;
    }
    .footer-logo{
        display: block;
        margin: auto;
    }
}   