.footer-container {
    background-color: #739DD2;
    position: absolute;
    width: 100vw;
    padding: 2vh;
    display: flex;
    flex-direction: column;
}

.footer-logo,
.footer-logo img,
.social-media-links-cont,
.advertise-cont,
.housekeeping-cont,
.offices-cont {
    text-align: left;
    display: inline-block;
    width: 90vw;
    vertical-align: top;
    margin: 1vh;
}

.offices-cont div,
.offices-cont p {
    display: inline-block;
}

.offices-cont h4 {
    color: white;
    margin-bottom: 3vh;
}

.offices-cont>div,
.offices-cont>div>div {
    vertical-align: top;
}

.offices-cont>div {
    padding: 1em;
}

.advertise-cont p {
    color: white;
}

.footer-container a {
    text-decoration: none;
}

footer-container a:hover {
    color: white;
}

.footer-container ul {
    list-style-type: none;
    margin-left: 20%;
}

.footer-container ul li {
    padding: 0.5em;
}

.offices-cont a,
.offices-cont p,
.fa-building,
.fa-phone {
    color: white;
}

.footer-container i {
    margin-right: 5px;
}

@media only screen and (min-width: 767px) {
    .footer-container {
        flex-direction: row;
    }
    .footer-logo,
    .footer-logo img,
    .social-media-links-cont,
    .advertise-cont,
    .housekeeping-cont,
    .offices-cont {
        width: 19vw;
    }
    .housekeeping-cont ul li:nth-child(1) {
        padding-top: 0;
    }
    .offices-cont h4 {
        margin-bottom: initial;
    }
    .footer-container h6 {
        align-self: baseline;
    }
    .offices-cont {
        display: block;
        flex: none;
    }
    .copyright-text {
        display: block;
        width: 90%;
        position: absolute;
        bottom: 5px;
    }
    .footer-container ul {
        width: 200px;
    }
}