/*for mobile*/

.header-container {
    height: 15vh;
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.header-logo,
.header-logo img {
    height: 70px;
    text-align: center;
    position: relative;
    top: 0;
    right: 25px;
}

.header-container ul,
.header-container li {
    display: none;
}

.header-container a {
    text-decoration: none;
    width: 100px;
}

/* for large mobile/tablet + */

@media only screen and (min-width: 767px) {
    .header-container {
        height: 170px;
        flex: none;
        background-image: initial;
        padding-top: 70px;
        position: fixed;
        z-index: 1;
    }
    .header-logo,
    .header-logo img {
        height: 70px;
        text-align: center;
        position: relative;
        top: 0;
    }
    .header-container ul,
    .header-container li {
        display: initial;
    }
    .header-container ul {
        padding-left: 300px;
    }
    .header-container li:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .header-container li {
        text-decoration: none;
        font-size: 0.8em;
        -webkit-transition-duration: 0.4s;
        /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
        padding: 5px;
        margin: 5px;
        vertical-align: top;
    }
    .header-container li,
    .header-container i {
        line-height: 30px;
    }
    .header-container .long-word,
    .header-container i .long-word {
        line-height: 15px;
    }
    .link-cont {
        display: inline-block;
        height: 30px;
        background-color: #739DD2;
        margin: 2px;
    }
    
}

/*for tablet*/

@media only screen and (min-width: 767px) and (max-width: 1000px) {
    .link-cont {
        vertical-align: top;
        height: 70%;
        width: 65px;
    }
    .link-cont span,
    .link-cont i {
        color: white;
    }
    .header-container ul {
        height: 100%;
    }
    .header-container ul li {
        padding: 0;
        display: block;
    }
    .arrow-cont {
        top: 25%;
    }
    .header-logo,
    .header-logo img {
        top: -7px;
    }
    .header-container i {
        display: block;
    }
    .header-container li:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        color: white;
    }
}

/*for medium screens */

@media only screen and (min-width: 1001px) and (max-width: 1299px) {
    .link-cont span,
    .link-cont i {
        color: white;
    }
}

/*for large screens*/

@media only screen and (min-width: 1300px) {
    .header-container li,
    .header-container i {
        line-height: initial;
    }
    .header-container li {
        padding: 1vh 2vw;
        margin: 0;
    }
    .header-logo,
    .header-logo img {
        top: -8%;
        left: 20px;
    }
    .first-li {
        border-left: 2px solid rgb(180, 178, 178);
    }
    .header-container ul {
        width: initial;
    }
    .header-container li {
        padding: 2vh 2vw;
        border: none;
        color: #555;
        margin: 0;
        border-left: 2px solid rgb(180, 178, 178);
        font-size: 16px;
        /* border-right: 2px solid rgb(180, 178, 178); */
    }
    .link-cont {
        width: initial;
        height: initial;
        background-color: initial;
        margin: 0;
    }
    .header-container li:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        color: white;
        background-color: #739DD2;
    }
}