.header-container {
    height: 15vh;
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.header-logo,
.header-logo img {
    height: 70px;
    text-align: center;
    position: relative;
    top: 0;
}

.header-container ul,
.header-container li {
    display: none;
}

.header-container a {
    text-decoration: none;
}

/* for desktop*/

@media only screen and (min-width: 767px) {
    .header-container {
        height: 170px;
        flex: none;
        background-image: initial;
        padding-top: 70px;
        position: fixed;
        z-index: 1;
    }
    .header-logo,
    .header-logo img {
        height: 70px;
        text-align: center;
        position: relative;
        top: 0;
        left: 20px;
    }
    .header-container ul,
    .header-container li {
        display: initial;
    }
    .header-container ul {
        padding-left: 300px;
        /* width: 800px; */
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    .header-container li {
        padding: 5px;
        margin: 5px;
        vertical-align: top;
    }
    .header-container li:hover {
        color: white;
        background-color: #739DD2;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .header-container li {
        text-decoration: none;
        font-size: 0.8em;
        -webkit-transition-duration: 0.4s;
        /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
        /* margin: 2vh; */
        color: #555555;
        /* border: 1px solid blue; */
    }
    .link-cont {
        display: inline-block;
        height: 30px;
    }
}

@media only screen and (min-width: 1300px) {}

@media only screen and (min-width: 1300px) {
    .header-container li {
        padding: 1vh 2vw;
        margin: 0;
    }
    .header-logo,
    .header-logo img {
        top: -8%;
    }
    .first-li {
        border-left: 2px solid rgb(180, 178, 178);
    }
    .header-container ul {
        width: initial;
    }
    .header-container li {
        padding: 2vh s2vw;
        border: none;
        border-right: 2px solid rgb(180, 178, 178);
    }
    .link-cont {
        width: initial;
        height: initial;
    }
    .header-container li {
        font-size: 16px;
    }
}