.header-container {
    height: 15vh;
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo,
.header-logo img {
    height: 10vh;
    text-align: center;
}

.header-container ul,
.header-container li {
    display: none;
}

/* for desktop*/

@media only screen and (min-width: 1000px) {
    .header-container {
        justify-content: initial;
        align-items: left;
        background-image: none;
    }
    .header-container ul,
    .header-container li {
        display: initial;
    }
}