.listen-on-header {
    display: none;
}

.listen-live-cont {
    position: relative;
    left: -10px;
    width: 300px;
    height: 105px;
    margin: auto;
    background-image: url(/assets/images/dc42470….gif);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.listen-child {
    position: absolute;
    width: 33%;
}

.arrow-cont {
    top: 10%;
    left: 0;
}

.listen-text {
    color: #739DD2;
    top: 9%;
    left: 33%;
    font-size: 1.9em;
    padding: 0;
}

.play {
    color: rgba(65, 119, 185, 0.5);
}

.pause {
    color: rgba(133, 134, 134, 0.5);
}

.radio-wave,
.radio-wave img {
    height: 105px;
    right: 0;
}

.radio-wave img {
    width: 100%;
}

@media only screen and (min-width: 767px) {
    .listen-live-cont {
        position: absolute;
        top: 65px;
        left: 0;
        width: 300px;
        height: 105px;
        margin-left: auto;
        z-index: 1;
    }
    .listen-live-cont {
        display: initial;
    }
    .listen-on-app {
        display: none;
    }
    .play:hover {
        text-shadow: 1px 1px rgb(95, 208, 161);
    }
    .pause:hover {
        text-shadow: 1px 1px #d0705f;
    }
}

@media only screen and (min-width: 767px) {
    .arrow-cont {
        top: 25%;
    }
}

@media only screen and (min-width: 1300px) {
    .arrow-cont {
        top: 10%;
    }
}